    <DIV id="page">
      <H1><A href="/">aream.ca</A></H1>
      <H2><A href="http://www.flickr.com/photos/aream/" title="Where we capture our moments">photos</A></H2>
      <H2><A href="http://www.youtube.com/mm53bar" title="Where we record our adventures">videos</A></H2>
      <H2><A href="http://twitter.com/mm53bar" title="Come meet Mike!">mike</A> &amp; <A href="http://twitter.com/she9254" title="Say hi to Sheila!">sheila</a></H2>
    </DIV>
